.btn-element {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;

}
.hello {
    background: #fff;
    color :#000;
    border: 2px solid rgb(3, 239, 98);
    padding: 1em 2em;
    cursor: pointer;
    margin: 1em;
    width: 300px;
    font-size: 1.1em;
    outline: none;
    text-align: center;
    transition: all .5s;

}
.hello:hover{
    background-color: rgb(9, 202, 86);
    color :#fff;
    border: 1px solid #fff;
}
.shop-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.title-shop{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2em;
    padding: 1em 0;
}