@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
.cart-btn {
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 0;
    padding: 1em 2em;
    font-size: medium;
    cursor: pointer;
    outline: none;
    font-family: 'Roboto', sans-serif;

}