.app{
  background-image: url('https://www.apple.com/v/airpods-2nd-generation/b/images/overview/battery__f8c24btnp5ei_large.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
